{% if menu_item is not defined %}
  {% set menu_item = 'dashboard' %}
{% endif %}


<li class="mt">
    <a href="{{ path('admin_user_dashboard') }}" {% if menu_item == "dashboard" %}class="active"{% endif %}>
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="sub-menu">
    <a href="{{ path('admin_user_list') }}" {% if menu_item == "users" %}class="active"{% endif %}>
        <i class="fa fa-users"></i>
        <span>Utilisateurs</span>
    </a>
</li>


<li class="sub-menu">
    <a href="javascript:;" {% if menu_item == "webradio" %}class="active"{% endif %}>
        <i class="fa fa-microphone"></i>
        <span>Webradio</span>
    </a>
    <ul class="sub">
        <li><a  href="{{ path('admin_show_index') }}">Emissions</a></li>
        <li><a  href="buttons.html">Programmes</a></li>
        <li><a  href="panels.html">Podcasts</a></li>
    </ul>
</li>

<li class="sub-menu">
    <a href="javascript:;" {% if menu_item == "palladium" %}class="active"{% endif %}>
        <i class="fa fa-cogs"></i>
        <span>Bus Palladium Admin</span>
    </a>
    <ul class="sub">
        <li><a  href="{{ path('admin_palladium_application') }}">Applications</a></li>
        <li><a  href="{{ path('admin_palladium_topic') }}">Topics</a></li>
        <li><a  href="{{ path('admin_palladium_output') }}">Outputs</a></li>
        <li><a  href="{{ path('admin_palladium_console') }}">Console</a></li>
        <li><a  href="{{ path('admin_palladium_api') }}">Api documentation</a></li>
    </ul>
</li>
