{% extends '::base.html.twig' %}

{% set menu_item = 'palladium' %}


{% block body %}
	<h3>
		<i class="fa fa-angle-right"></i> Topics
		<div class="pull-right">
			<a class="btn btn-theme03" href="{{ path('admin_palladium_topic_new') }}">Nouveau topic</a>
		</div>
	</h3>


	<table class="table table-stripped">
		<thead>
			<tr>
				<th>#</th>
				<th>Path</th>
				<th>Description</th>
				<th>Log</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for topic in topics %}
				<tr>
					<td>{{ topic.id }}</td>
					<td>{{ topic.path }}</td>
					<td>{{ topic.description }}</td>
					<td>{% if topic.log %}Oui{% endif %}</td>
					<td><a class="btn btn-info btn-sm" href="{{ path('admin_palladium_topic_edit', {topicid: topic.id})}}"><i class="fa fa-pencil"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
{% endblock %}